## Elements

In [0]:
import pandas as pd

In [0]:
class Element:


  def __init__(self, name, abrivation, atomic_number,
               atomic_mass, period, group):
    
    self.name = name
    self.abrivation = abrivation
    self.atomic_number = atomic_number
    self.atomic_mass = atomic_mass
    self.period = period #row
    self.group = group #column
    self.protons = self.atomic_number
    self.neutrons = self.atomic_mass - self.protons


  def __repr__(self):
    return f"{self.abrivation}\n{self.atomic_number}\n{self.atomic_mass}"

In [3]:
df = pd.read_csv('elements.csv', header=None).dropna(axis = 0)
df.head()

             0     1    2       3    4     5
0   'Hydrogen'   'H'  1.0   1.008  1.0   1.0
1     'Helium'  'He'  2.0   4.003  1.0  18.0
2    'Lithium'  'Li'  3.0   6.941  2.0   1.0
3  'Beryllium'  'Be'  4.0   9.012  2.0   2.0
4      'Boron'   'B'  5.0  10.811  2.0  13.0

In [0]:
df[0] = df[0].str.strip("'")
df[1] = df[1].str.strip("'")

In [0]:
elements = {}

for i in range(len(df)):
  element = Element(name = df[0][i],
                    abrivation = df[1][i],
                    atomic_number = df[2][i],
                    atomic_mass = df[3][i],
                    period = df[4][i],
                    group = df[5][i])
  

  elements[element.abrivation] = {'name': element.name,
                    'atomic_number': element.atomic_number,
                    'atomic_mass': element.atomic_mass,
                    'period':element.period,
                    'group': element.group}

In [6]:
elements['H']

{'atomic_mass': 1.008,
 'atomic_number': 1.0,
 'group': 1.0,
 'name': 'Hydrogen',
 'period': 1.0}

In [7]:
hydrogen = Element(name = 'hydrogen',abrivation = 'H',
                   atomic_number = 1, atomic_mass = 1.0079,
                   period = 1, group = 1)


hydrogen

H
1
1.0079

## Balencing Equations

In [0]:
def equation_splitter(equation):
  """
  Input: equation shape 'C H_4 + H_2 O -> C O_2 + H_2'
  Output: dict shape: {'Side_A': {Element_1: moles,},}
  """
  prods_and_res = (equation_1.split('->')[0], equation_1.split('->')[1]) #('C H_4 + H_2 O ', ' C O_2 + H_2')
  holding_dict = {}

  for side in prods_and_res:
    #print('Side', side)
    holding_dict[side] = {}
    for compound in side.split('+'):
      for j in compound.strip().split(' '):
        ele = j.split('_')
        if len(ele) == 1:
          ele.append(1)
        if ele[0] not in list(holding_dict[side].keys()):
          holding_dict[side][ele[0]] = int(ele[1])
          #print(holding_dict[side][ele[0]])
        else:
          holding_dict[side][ele[0]] += int(ele[1])
        #print("\t\tElement", ele)

  return holding_dict

dict {C H_4 + H_2 O: {C:1 H:6 O:1}

In [15]:
equation_1 = 'C H_4 + H_2 O -> C O_2 + H_2'
equation_splitter(equation_1)

{' C O_2 + H_2': {'C': 1, 'H': 2, 'O': 2},
 'C H_4 + H_2 O ': {'C': 1, 'H': 6, 'O': 1}}

## Stoichiometry

In [0]:
avogadro = 6.0221409E23


def atoms_to_moles(atoms):
  return atoms / avogadro


def moles_to_mass(moles, molar_mass):
  return moles * molar_mass


def mass_to_moles(mass, molar_mass):
  return mass / molar_mass


def moles_to_atoms(moles):
  return moles * avogadro

In [0]:
moles_to_atoms(5E-10)

## Calculating percent composition

In [0]:
def chem_spliter(chem):
  """
  Input: Chemical formula in form (H_2 O)
  Output: Array of tuples shape (Chem abbv, ,moles)
  """
  return_array = []
  for i in chem.split(' '):
    return_array.append((i.split('_')[0],i.split('_')[1]))
  return return_array

In [0]:
def percent_composition(chemical):
  """
  Input: Chemical formula in form (H_2 O)
  Output: Dict in form {Element: %comp}
  """
  return_dict = {}
  masses = []
  chem_spliter(chemical)

  for i in chem_spliter(chemical):
    masses.append(elements[i[0]]['atomic_mass'] * int(i[1]))

  chemical_mass = sum(masses)

  for k, v in zip(chem_spliter(chemical), masses):
    return_dict[k[0]] = (v / chemical_mass) * 100

  return return_dict

In [0]:
chemical = 'C_10 F_18'

percent_composition(chemical)